/* header-styles  */

.header-wrapper {
  height: 100px;
  width: 100%;
}

.top-bar {
  height: 10px;
  width: 100%;
  background-image: url("../assets/topbar-desktop.png");
  background-size: cover;
}

.header-contents-wrapper {
  width: calc(100% - 80px);
  height: calc(100% - 10px);
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-weight: 500;
  font-size: 14px;
}

.nav-item {
  cursor: pointer;
}

.nav-item-btn {
  height: 37px;
  width: 124px;
  border: 2px solid #4a4a4a;
  border-radius: 20px;
}

.header-logo-img {
  height: 56px;
  width: 220px;
  cursor: pointer;
}

/* hamburger code  */

.header-wrapper .menu-items {
  display: flex;
}

.checkbox {
  position: absolute;
  display: none;
  height: 32px;
  width: 32px;
  top: 38px;
  right: 27px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.hamburger-lines {
  display: none;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 38px;
  right: 27px;
  z-index: 4;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.header-wrapper .menu-items {
  background-color: #f5f8ff;
  z-index: 3;
  height: 100%;
  width: 100%;
  margin-top: 100%;
  position: absolute;
  transform: translate(100%);
  flex-direction: column;
  margin-left: -40px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  display: none;
}

input[type="checkbox"]:checked ~ .menu-items {
  display: flex;
  transform: translateX(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* for mobile  */

@media screen and (max-width: 480px) {
  .nav-items {
    display: none;
  }
  .checkbox {
    display: block;
  }
  .hamburger-lines {
    display: flex;
  }
}

/* for tablet  */
@media screen and (min-width: 480px) and (max-width: 820px) {
  .nav-items {
    flex-direction: row;
    gap: 30px;
    font-weight: 500;
    font-size: 10px;
  }

  .nav-item-btn {
    height: 32px;
    width: 105px;
    border: 2px solid #4a4a4a;
    border-radius: 20px;
  }
}
