@import url("../styles/footer.css");
@import url("../styles/header.css");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/* commom code  */

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
}

.banner-container {
  background-color: #f5f8ff;
  height: 540px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.box-container {
  position: absolute;
  right: 0px;
  top: 123px;
  height: 100%;
  width: 60%;
}
.box {
  width: 100%;
  height: 100%;
  position: absolute;
}

.box-art {
  top: 11px;
  height: 301px;
  position: absolute;
  right: 70px;
}

.banner-info {
  max-width: 500px;
  margin-left: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.banner-title {
  font-size: 48px;
  font-weight: 400;
  color: #000;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
}

.content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  height: 61px;
  border: 4px solid #ef8094;
  border-radius: 40px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/* second section  */
.explanation-container {
  gap: 30px;
  margin-top: 30px;
  flex-direction: column;
}

.explanation-title-container {
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.explanation-title {
  font-size: 48px;
  font-weight: 400;
}

.underline {
  width: 250px;
  height: 16px;
}

.first-third-section {
  flex-direction: row;
  gap: 30px;
  width: 965px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.second-section {
  flex-direction: column;
  gap: 20px;
  width: 965px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}

.section-image {
  width: 323px;
  height: 390px;
}

.section-image-2 {
  width: 372px;
  height: 250px;
  margin: 50px 80px 0 0;
  z-index: 1;
}

.section-image2-art {
  position: absolute;
  top: 0;
}

.section-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  max-width: 390px;
  margin-top: 60px;
}

.section-content-2 {
  margin-right: 30px;
}

.section-title {
  font-size: 36px;
  font-weight: 400;
}

.section-description {
  font-size: 18px;
  font-weight: 400;
}

.number {
  color: #ef8094;
  position: absolute;
  font-size: 220px;
  font-weight: 400;
  top: 0;
  left: 110px;
}

.number-section-2 {
  bottom: 29px;
  right: 44%;
  left: unset;
  top: unset;
}

/* for mobile  */

@media screen and (max-width: 480px) {
  /* banner code  */
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    height: unset;
  }
  .box-container {
    position: relative;
    right: 15px;
    top: 50px;
    height: 100%;
    width: 100%;
  }
  .box-art {
    display: none;
  }

  .box {
    position: relative;
    transform: scale(1.5);
    width: 100%;
    height: 100%;
  }
  .banner-info {
    margin: 30px;
    width: calc(100% - 60px);
  }

  .banner-title {
    font-size: 48px;
  }

  .banner-description {
    font-size: 18px;
  }

  /* explanation container code  */

  .first-third-section,
  .second-section {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    font-size: 36px;
  }

  .section-description {
    font-size: 18px;
  }

  .section-content {
    margin: 0 45px;
  }
  .section-image-2 {
    margin: 0;
  }
  .section-image2-art {
    display: none;
  }
  .number {
    left: 40px;
  }

  .number-section-2 {
    position: relative;
    bottom: -63px;
    right: unset;
    left: -29%;
    top: unset;
  }

  .try-it-yourself-btn {
    margin-top: 45px;
    margin-bottom: 15px;
  }
}

/*  for tablet  */
@media screen and (min-width: 480px) and (max-width: 820px) {
  .box-art {
    display: none;
  }

  .box-container {
    left: 32%;
    top: 146px;
    height: 100%;
    width: 81%;
  }

  .banner-title {
    font-size: 48px;
  }

  .banner-description {
    font-size: 14px;
  }
  .banner-info {
    max-width: 412px;
    margin-left: 30px;
    margin-top: 30px;
  }

  .first-third-section,
  .second-section {
    width: 100%;
  }

  .number {
    left: 43px;
  }

  .number-section-2 {
    left: unset;
    right: 52%;
  }
}
